<div class="ui card">
  <div class="content">
    <div class="header"><%= @user.username %></div>
  </div>
  <div class="content">
    <p><%= @user.email %></p>
   
  <div class="extra content">
  <%= link_to 'Edit profile', edit_user_path(@user), class:"ui orange button"%> 
  </div>
</div>