<div class="ui card">
  <div class="content">
    <div class="header"><%= @user.username %></div>
  </div>
  <div class="content">
    <h4 class="ui sub header"><%= @user.email %></h4>
   
  <div class="extra content">
  <%= link_to 'Edit profile', edit_user_path(@user), class:"ui orange button"%> 
  </div>
</div>