<% if logged_in? %>
  <div class="ui small inverted menu">
    <div class="ui container">
      <%= link_to 'Chatroom', root_path, class: 'item'%>
      <div class="right menu">
        <%= link_to 'Logout', logout_path, method: :delete, class: 'item'%>
      </div>
    </div>
  </div>
<% end %>